button{
    border-radius: 3px;
    border: none;
    background-color: #384855;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.speakerCardWrapper{
    padding: 20px; 
    display: flex;
    flex-wrap: wrap;
}

.speakerCard{
    padding: 60px;
    font-size: 14px;
}


.img-thumbnail{
    border: none;
    border-radius: 16px;
}

.event-description{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:#8FA2B3;
}

.speaker{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
    color:#3E4F5A;
}

.speaker-description{
    color:#8FA2B3;
    display: flex;
    justify-content: start;
    align-items: start;
   
    
} 

.speaker-header{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: open sans; 
}

.speaker-styling{
    font-weight: bold;
    font-size: 24px;
    color:#3E4F5A;
    font-family: open sans;
}

 

.ticket-description{
    font-size: 30px;
    font-weight:bold;
    font-family: open sans;
    color:#3E4F5A;
    padding-top: 30px;

}

.ticket-benefits{
    color: #8FA2B3;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.ticketButton{
    Padding-bottom: 30px;
}


.venue-container{
    font-family: open sans;
    padding-top: 50px;
    font-size: 30px;
    color:#384855;
    font-weight: bold;
    padding-left: 50px;
    
}

.venueDescription{
    font-family: open sans;
    color:#384855;
    font-size: 14px;
    
  
} 

.venue-image{
     display: flex;
    justify-content: start;
    align-items: start;
    padding-bottom: 50px;
    padding-right: 50px;
}
